.modalMain {
  display: flex;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(230, 230, 230, 0.7);
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border: 0.5px solid gainsboro;
  padding: 0.5rem;
  border-radius: 1rem;
  gap: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
}

.modalContainer h2 {
  align-self: flex-start;
}

.close {
  align-self: flex-end;
  padding: 0.1rem 0.4rem;
  margin: 5px;
  border-radius: 50%;
  font-size: 2rem;
}

.close:hover {
  background-color: rgba(230, 230, 230, 0.7);
  cursor: pointer;
}

.inputs {
  width: 25rem;
  padding: 0.5rem;
  border: 1px solid rgb(72, 71, 71);
  border-radius: 0.2rem;
}

.inputs:focus-within {
  outline-color: #1d9bf0;
}

.submitButton {
  color: white;
  background-color: #1d9bf0;
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #0a73b9;
}

.link {
  display: inline;
  color: #1d9bf0;
}

.link:hover {
  cursor: pointer;
  color: #0a73b9;
  text-decoration: underline;
}
