.main {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 7rem;
  height: 100%;
  width: 25%;
  align-items: flex-start;
  /* border-right: 1px solid black; */
}
.logo {
  padding: 8px;
  margin-left: 15px;
}
.logo:hover {
  border-radius: 50%;
  background: #b4cee0;
}
.icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 5px;
}
.sidebarHover {
  display: flex;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  cursor: pointer;
  margin-left: 0.75rem;
  margin-left: 0.875rem;
  color: #374151;
  padding: 10px 7px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  justify-content: center;
  align-items: center;

  @media (min-width: 1280px) {
    justify-content: flex-start;
  }
}
.sidebarHover:hover {
  background-color: #e5e7eb;
  /* transform: scale(1.05); */
}
.hoverEffect {
  display: flex;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  cursor: pointer;
  /* width: 52px;
  height: 52px; */
}
.hoverEffect:hover,
.profileHover:hover {
  /* background-color: #e5e7eb; */
  transform: scale(1.05);
}
.sideBarButton {
  background-color: rgb(29, 155, 240);
  margin: 7px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 220px;
  height: 3.25rem;
  border-radius: 2rem;
  transition-duration: 500ms;
  box-shadow: 0 4px 6px -1px rgba(53, 94, 141, 0.1),
    0 2px 4px -1px rgba(82, 132, 165, 0.06);
  align-self: center;
  border: none;

  @media (min-width: 1280px) {
    display: inline;
  }
}
.sideBarButton:hover {
  background-color: rgb(65, 160, 223);
}
.image {
  border-radius: 50%;
  margin: 25px 10px;
}
.profile {
  display: flex;
  cursor: pointer;
  color: #374151;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1%;
  height: 10%;
  width: 70%;
  border-radius: 9999px;
  transition-duration: 500ms;
}
.profileUsn {
  margin-top: 28px;
}
.profile:hover {
  background-color: #e5e7eb;
}
.profileHover {
  display: flex;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  @media (min-width: 1280px) {
    padding: 0.75rem;
    width: auto;
    height: auto;
  }
}
.message {
  position: relative;
  display: flex;
  justify-content:space-between ;
}
.notificaion.notificaion {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--noti-bg-color);
  background-color: red;
  position: absolute;
  z-index: 10;
  top: 13%;
  left: 15%;
}
.logout{
  display: flex;
  flex-direction: column;
}
.notiShake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
