.list {
  border-inline: 1px solid var(--border-color);
  width: 400px;
  margin-left: 1rem;
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.glassPortion {
  display: inline-block;
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0;
  width: 100%;
  /* height: 100px; */
  /* left: 0;
  height: 100px;
  width: 100%;
  width: calc(var(--main-width) - 2px);
  left: 50%;
  transform: translateX(-50%); */
  background-color: var(--bg-op);
  /* opacity: 3; */
  z-index: 2;
  padding: 1rem;
}


.logos {
  width: 30%;
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
}

.logos div {
  box-sizing: content-box;
  border-radius: 10000px;
  padding: .5rem .5rem;
  font-size: 1rem;
  align-items: center;
}


.logos div:hover {
  background-color: var(--hover-secondary-trans-color);

}

.logos div>svg {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--text-color-primary);
}

.input {
  border-radius: 1000px;
}

/* maruf */
.convoList {
  display: flex;
  flex-direction: column;
  background-color:var(--bg);
  padding: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 80vh;
  
}
.convoList::-webkit-scrollbar {
  display: none;
}

.convoList {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.convo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border: 1px solid var(--border-color-2);
}

.convo:hover {
  background-color:var(--bg-hover);
  color: var(--text-color-primary);
}

.convoAvatar {
  margin-right: 10px;
}



.convoDetails {
  flex: 1;
}

.convoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.convoName {
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}

.convoUsername {
  font-size: 14px;
  /* color: #657786; */
  margin-right: 5px;
}

.convoTime {
  font-size: 14px;
  /* color: #657786; */
}

.convoContent {
  margin-top: 5px;
}

.convoContent span {
  font-size: 16px;
  /* color: #14171a; */
}

.dotCircle {

  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--border-color);
  margin-right: 5px;

}

.noti-bg{
  background-color:var( --noti-bg-color);
  color: white;

}

.current{
  background-color: var(--border-color-2);
}

.current:hover{
  background-color: var(--border-color-2);
}
