.postMain {
  display: flex;
  border-top: 1px solid gainsboro;
  height: auto;
}
.commentMain {
  margin-right: 0;
  display: flex;
  border-top: 1px solid gainsboro;
  height: auto;
  overflow: hidden;
  
}
.postMain p {
  padding: 10px 2px;
}
.postMain:hover {
  background-color: #e5e7eb;
}
.profileImage {
  margin: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}
.RightDiv {
  height: fit-content;
  width: 100%;
  margin: 10px 20px 10px 10px;
  cursor: pointer;
}
.dot {
  height: 3px;
  width: 3px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 5px;
}
.icon:hover {
  background-color: #c1d7e0;
  border-radius: 50%;
}
.postImage {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
.rightBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameBar {
  display: flex;
  align-items: center;
}
.nameBar h4 {
  margin-left: 3px;
  cursor: pointer;
}
.nameBar span {
  color: gray;
  margin-inline: 5px;
}
.iconsBottom {
  display: flex;
  justify-content: space-around;
  margin-block: 3px;
  color: rgb(29, 155, 240);
  cursor: pointer;
}
.icon :hover {
  background-color: #e5e7eb;
  border-radius: 35%;
}
.iconDiv {
  display: flex;
  align-items: center;
}
.commentIconDiv {
  display: flex;
  align-items: center;
}
.commentIconDiv :hover {

}