.profileMain {
  display: flex;
  border-top: 1px solid gainsboro;
  height: auto;
  width: auto;
  margin-right: 20px;
}
.feed {
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  margin-left: 370px;
  width: 600px;
  flex-grow: 1;
  max-width: 960px;
}
.homeBar {
  display: flex;
  position: sticky;
  top: 0;
  height: 70px;
  /* -webkit-backdrop-filter: blur(5px); */
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid gainsboro;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
  z-index: 2;
}
.homeBar h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 10px;
  font-weight: 500;
  margin-left: 50px;
  cursor: pointer;
  color: #17191b;
  cursor: pointer;
}
.homeBarIcon {
  position: absolute;
  top: 10px;
  height: 45px;
  width: 45px;
  padding: 10px 10px;
  justify-self: end;
  color: #374151;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  cursor: pointer;
}
.homeBarIcon:hover {
  background-color: #e5e7eb;
  border-radius: 45%;
}
.coverPhotoDiv {
  border-bottom: #374151 1px solid;
  background-color: #374151;
  height: 300px;
}
.coverImg {
  height: 100%;
  width: 100%;
}
.profilePicture {
  display: flex;
  justify-content: space-between;
  height: 200px;
  border: 1px solid gainsboro;
  padding: 2px 20px;
  margin-bottom: 20px;
}
.profilePicture img {
  margin-top: 20px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.profileInfo h5 {
  margin: 7px 1px;
  color: gray;
}
.profileInfo h3 {
  margin-top: 15px;
  cursor: pointer;
}
.profileEditButton {
  background-color: #60a5fa;
  margin: 7px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 300;
  width: 6rem;
  height: 2.25rem;
  border-radius: 9999px;
  border: none;
  transition-duration: 500ms;
  border: none;
  align-self: center;
}
.postBoxButton:hover {
  background-color: rgb(29, 155, 240);
  transform: scale(1.01);
}
