.main {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  margin-left: 300px;
}
.feed {
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  min-width: 650px;
  margin-left: 73px;
  flex-grow: 1;
  max-width: 960px;
}
.feed_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}
.feed_title {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

