.main {
  display: flex;
  padding: 0.5rem 1rem;
  margin-left: 0.25rem;
  transition-duration: 500ms;
  justify-content: space-between;
  align-items: center;
}
.newsContainer {
  margin-top: 0.125rem;
  width: 220px;
}
.newsContainer h6 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 800;
  color: rgb(87, 84, 84);
}
.newsContainer p {
  color: #6b7280;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 500;
  color: gray;
}
.img {
  height: 50px;
  width: 75px;
  border-radius: 25%;
}
.anchor {
  text-decoration: none;
}
.main :hover {
  background: #9fa1a5;
}
