.widgetMain {
  margin-left: 20px;
  width: 350px;
}
.searchBarDiv {
  position: sticky;
  top: 0;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  background-color: #ffffff;
  width: 350px;
}
.searchBar {
  display: flex;
  position: relative;
  padding: 0.75rem;
  align-items: center;
  border-radius: 9999px;
}
.searchBarDiv :hover {
  background-color: #e5e7eb;
}
.searchArea {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 2.75rem;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 9999px;
  border-style: none;
}
.searchArea :focus {
  background-color: #f3f4f6;
  border-color: #1b4eb6;
}
.icon {
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 5px;
  color: gray;
}
.news {
  padding-top: 0.5rem;
  margin-top: 0.75rem;
  margin-top: 0.875rem;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 0.75rem;
}

.news h4 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.newsButton {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1.5rem;
  margin-left: 0.5rem;
  color: #93c5fd;
  border-style: none;
  background: #f3f4f6;
  font-size: 1rem;
  border-radius: 9999px;
}
.newsButton :hover {
  background: #9fa1a5;
}
.follow {
  padding-top: 0.5rem;
  margin-top: 0.75rem;
  margin-top: 0.875rem;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 0.75rem;
}
.follow {
  cursor: pointer;
  position: sticky;
  top: 65px;
}
.follow h4 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.followBox {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.follow :hover {
  background: #9fa1a5;
}

.followImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.followNameBox {
  padding: 0;
}
.followNameBox h4 {
  font-size: 1.25rem;
}
.followNameBox p {
  margin-left: 20px;
}
.followButton {
  padding: 0.5rem 0.875rem;
  margin-left: auto;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  height: 2.5rem;
  font-weight: 700;
  border-radius: 9999px;
}
